@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Poppins";
}
body{
    display:flex;
    min-height: 100vh;
    justify-content:center;
    align-items: center;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width:400px;
    height: min-content;
    background-color: white;
    padding:36px;   
    border-radius:12px;
}
.search-bar{
    margin:auto;
    display:flex;
    justify-content: space-between;
    width:95%;
    gap:0.5rem;
    align-items:center;
}
.search-bar input{
    width:85%;
    font-size:1.2rem;
    background-color:rgb(204, 238, 255);
    padding: 8px 12px;
    border-radius:12px;
}
.search-bar input::placeholder{
    color:black;
}
.search-bar button{
    width:15%;
    font-size:1.2rem;
    background-color:rgb(204, 238, 255);
    padding:0.5rem;
    border-radius:50%;
    transition: 0.5s;
}
.search-bar button:hover{
    cursor:pointer;
    color:white;
    background-color: black;
}
.weather-body{
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}
.weather-body img{
    width:60%;
}
.weather-description{
    margin-top:1.6rem;
    margin-bottom:1.6rem;
    text-align:center;
}
.weather-description .temperature{
    font-size:3rem;
    font-weight:bold;
    position:relative;
}
.weather-description .temperature sup{
    font-size:1.5rem;
    position:absolute;
}
.weather-description .description{
    font-size:1.5rem;
    text-transform: capitalize;
}
.weather-details{
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:1rem;
}
.humidity ,.windspeed {
    display:flex;
    align-items: center;
}
.humidity{
    margin-left:0.5rem;
}
.windspeed{
    margin-right:0.5rem;
}
.weather-details .material-symbols-outlined{
    font-size:36px;
}
.weather-details .text{
    margin:0.5rem;
    font-size:1rem;
}
.text span{
    font-size:1.2rem;
    font-weight:bold;
}
.location-not-found{
    display:none;
    margin-top:2rem;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
    flex-direction: column;
}
.location-not-found p{
    font-size:1.5rem;
    font-weight:bold;
    margin-bottom:2rem;
    color:gray;
}
.location-not-found img{
    display:block;
    margin:auto;
    width:80%;
}
@media screen and (max-width: 420px) and (min-width: 280px) {
    body{
        min-height: 100vh;
    }
    .container{
        width:90%;
        padding:30px;
    }
    .search-bar{    
        flex-direction: column;
    }
    .search-bar input{
        font-size:1.2rem;
    }
    .search-bar button{
        width:24%;
        font-size:1.2rem;
        padding:1rem;
        margin-top:0.5rem;
    }
    .weather-body img{
        width:60%;
    }
    .weather-description .temperature{
        font-size:3rem;
    }
    .weather-description .temperature sup{
        font-size:1.2rem;
    }
    .weather-details{
        width:120%;
    }
    .humidity{
        margin-left:1.2rem;
    }
    .windspeed{
        margin-right:1.2rem;
    }
    .weather-details .material-symbols-outlined{
        font-size:28px;
    }
    .weather-details .text{
        font-size: 0.8rem;
    }
    .text span{
        font-size:1rem;
    }
    .weather-details p{
        font-size:1rem;
    }
    .location-not-found p{
        font-size:1rem;
        margin-bottom: 1rem;
    }
    .location-not-found img{
        width:60%;
    }
}
